.ga-gc-widget{ background-color: #1d1e20; border-top-left-radius:4px; border-top-right-radius:4px; color: #dfdfdf;}

.ga-gc-header-image{ width: 100%; opacity: 0.8; filter:alpha(opacity=80); -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)'; -khtml-opacity: 0.8; -moz-opacity: 0.8; }
.ga-gc-title-header { border-top: 1px solid #000; color: #fff; padding:5px; background-color:#32333b; }
.ga-gc-title-header span { padding: 5px; font-size: 18px !important; display: inline-block !important; height: auto; bottom: 0px; text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; }


.ga-gc-cell{ border-top: 1px solid #000;  padding: 5px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; box-shadow: rgba(255,255,255,0.1) 0 1px 0 inset; line-height: 1.5;}
.ga-gc-cell-strong{ font-weight: 600; }
.ga-gc-cell-header{ background-color: #24252b; color: #fff; font-size: 0.71429rem; line-height: 1; font-size:12px; font-weight: 600; text-transform: uppercase; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.ga-gc-cell-contenidos { font-size: 0.71429rem; line-height: 1.3; font-weight: 600; text-transform: uppercase; }
.ga-gc-cell a{ color:#fff; }
.ga-gc-cell a:hover{ color:#919191; }

.ga-gc-nota{ width: 20%; display: inline-block; position: relative; color:#e03800; vertical-align: top; font-size: 16px; text-align: center; }
.ga-gc-plataformas{  color:#bf3000; font-size:10px !important; letter-spacing: -0.3px; }


.ga-block-divider {  margin: 10px 0px 10px 0px; width:100%; height: 1px; background: rgba(102, 102, 102, 0.3); }

.ga-after-box-title{ color: white; font-weight:600; font-size: 16px; }
.ga-text-color-2{ color: #ff6600; }

.ga-rating-block{  padding: 10px; box-sizing: border-box; text-align: left; width:100%; background-color:#1d1e20; color:#dfdfdf; display: table; text-align: justify;}
.ga-rating-block-center{  padding: 10px; box-sizing: border-box; text-align: center; width:100%; background-color:#1d1e20; color:#dfdfdf;}
.ga-rating-box-right { display:inline-block; width:auto; min-width:100px; text-align: center; text-align: center; padding-top:8px; float:right; padding-left: 10px; }
.ga-rating-box-left { display:inline-block; width:auto; min-width:100px; text-align: center; text-align: center; padding-top:8px; float:left; padding-right: 10px; }
.ga-rating-box-center { display:inline-block; width:auto; min-width:100px; text-align: center; text-align: center; padding-top:8px; }
.ga-container-nota { display:inline-block; font-weight:bold; font-size:36px; background: #11212b; border-radius:0%; border: 2px dashed rgba(255,255,255,0.15); box-sizing: border-box; min-width:80px; text-align: center; padding: 1.42857rem;  box-shadow: #26272b 0 0 0 4px inset,#494949 0 0 0 5px inset; }
.ga-review-description{ display:block; font-size: 12px; font-weight: 600; text-transform: uppercase; text-align: center;}

.ga-rhi{ position:absolute; top:10px; padding: 1.42857rem; color:#ff6600; background:#1d1e20; border: 1px dashed rgba(155,155,155,1); z-index:100; font-size: 36px; font-weight: bold; }
.ga-rhi-stars{ position:absolute; padding: 7px 7px 7px 7px; top:10px; color:#ff6600; background:#1d1e20; border: 1px dashed rgba(155,155,155,1);  z-index:100; }
.ga-rhi-stars-inside-rating{  font-family: FontAwesome; position: relative; display: inline-block; font-size:18px;  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);   }

div.ga-rhi-stars-inside-rating:before { content: "\f006\ \f006\ \f006\ \f006\ \f006"; color: #CCCCCC; }
div.ga-rhi-stars-inside-rating:after { position: absolute; left: 0; }

.ga-r-0:before { content: "" !important; }
.ga-r-05:after { content: "\f089\ \00a0"; }
.ga-r-1:after { content: "\f005"; }
.ga-r-15:after { content: "\f005\ \f089\ \00a0"; }
.ga-r-2:after { content: "\f005\ \f005"; }
.ga-r-25:after { content: "\f005\ \f005\ \f089\ \00a0"; }
.ga-r-3:after { content: "\f005\ \f005\ \f005"; }
.ga-r-35:after { content: "\f005\ \f005\ \f005\ \f089\ \00a0"; }
.ga-r-4:after { content: "\f005\ \f005\ \f005\ \f005"; }
.ga-r-45:after { content: "\f005\ \f005\ \f005\ \f005\ \f089\ \00a0"; }
.ga-r-5:after { content: "\f005\ \f005\ \f005\ \f005\ \f005"; }		
    
    